.page8{
    padding: 2rem;
}

.page8_heading h1{
    color: rgba(64, 79, 230, 1);
    font-size: 3.5rem;
    margin: 0;
}

.page8_bottom{
    display: flex;
}

.page8_bottom_left{
    /* width: 55%; */
    padding-right: 2rem;
}

.page8_bottom_right{
    padding-left: 1.5rem;
    border-left: 2px solid rgba(64, 79, 230, 1);
}

.page8_bottom_left h3{
    color: rgba(64, 79, 230, 1);
    font-size: 38px;
    line-height: 48.55px;
}

.page8_bottom_left p{
    color: rgba(98, 98, 98, 1);
    font-size: 18px;
    line-height: 31.13px;
}

.page8_bottom_right h4{
    color: rgba(64, 79, 230, 1);
    font-size: 30px;
    margin: 0;
}

.page8_bottom_right p{
    color: rgba(98, 98, 98, 1);
    font-size: 18px;
}

.page8_bottom_right_content{
    padding: 1rem 0.5rem;
}

.page8_bottom_right_content:nth-child(1){
    border-bottom: 1px solid #404FE6;
}
